.Rproj.user
.Rhistory
.RData
*.dbf
*.prj
*.qpj
*.shp
*.shx
*.gal
GreaterManchester_lsoa_2011.zip
intermediate-r.pdf
metrolink-stations.csv
regression.zip
tram.zip
tramlines.geojson
variables-hardwork.docx
File_7_ID_2015_All_ranks__deciles_and_scores_for_the_Indices_of_Deprivation__and_population_denominators.csv
geoda-spatial-analysis.docx
