.Rhistory
.Rproj.user
/data-user
/ss
TODO-csa.txt
course-materials/
NEW.txt
confident-spatial-analysis-r.Rproj
README.html
confident-spatial-analysis.pdf

confident-spatial-analysis.html
*.lnk
scan-workbook.pdf
confident-spatial-analysis-prac3-sp.pdf
data/tram/
data/GreaterManchester_lsoa_2011.zip
data/GreaterManchester_lsoa_2011_imd.zip
data/GreaterManchester_lsoa_2011_large.zip
data/manchester_LSOA_IMD.zip
data/regression/regression.zip
