.Rhistory
.Rproj.user
/data-user
course-materials/
confident-spatial-analysis-r.Rproj
confident-spatial-analysis.pdf
confident-spatial-analysis.html
*.lnk
script-examples.zip
presentation/ncrm-title-slides.pptx
