Software Requirements for Advanced R as a GIS: Spatial Analysis and Statistics

GeoDa (1.22 or above) http://geodacenter.github.io/download.html

R (4.0 or above)
RStudio (2023.06.0 or above)

Libraries:
rgeoda
sf
tmap
dplyr
