Software Requirements for Confident Spatial Analysis and Statistics in R & GeoDa

GeoDa (1.22 or above) http://geodacenter.github.io/download.html

R (4.0 or above)
RStudio (2023.06.0 or above)

Libraries:
rgeoda
sf
tmap
dplyr
